<div>
	<p class="text__title">Register Organization</p>
	<span class="text__mandatory fr">All fields are mandatory</span>
</div>
<div class="form-horizontal">
	<form [formGroup]="organizationForm" novalidate class="form" (ngSubmit)="goToNext()" id="organizationFormSection">
		<div class="row">
			<div class="form-group col">
				<label class="form__label" for="organization_name"> Organization Name</label>
				<input type="text" formControlName="name" class="form-control form__input" id="organization_name" placeholder="ACME Corp"
				/>
				<div class="form__error">
					<div *ngIf="(name.dirty || name.touched) && name.invalid">
						<span *ngIf="name?.errors?.required">Please enter Organization Name.</span>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label class="form__label" for="domain_name">Domain Name</label>
				<input type="text" formControlName="domain" class="form-control form__input" id="domain_name" placeholder="acme.com" />
				<div class="form__error">
					<div *ngIf="(domain.dirty || domain.touched) && domain.invalid">
						<span *ngIf="domain?.errors?.required">Please enter Domain Name.</span>
						<span *ngIf="domain?.errors?.pattern">Invalid Domain Name.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label class="form__label" for="address">Organization Address</label>
				<input type="text" formControlName="address" class="form-control form__input" id="address" placeholder="ACME Corporation"
				/>
				<div class="form__error">
					<div *ngIf="(address.dirty || address.touched) && address.invalid">
						<span *ngIf="address?.errors?.required">Please enter Organization Address.</span>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" title="Next" class="btn btn-primary btn-action btn-w-m fr" [disabled]="organizationForm.invalid || formSubmitted"
		 [ngClass]="{ 'pointer': organizationForm.valid, 'disable-pointer': organizationForm.invalid }">
			<span *waiting="{hold: formSubmitted, section: 'organizationFormSection'}">Next</span>
		</button>

	</form>
</div>