<div>
	<p class="text__title">Register Super Admin</p>
	<span class="text__mandatory fr"> All fields are mandatory.</span>
</div>
<div class="form-horizontal">
	<form [formGroup]="superAdminForm" novalidate class="form" (ngSubmit)="goToNext()" id="superAdminFormSection">
		<div class="row">
			<div class="form-group col">
				<label class="form__label" for="first_name"> First Name</label>
				<input type="text" formControlName="firstName" class="form-control form__input" id="first_name" placeholder="John" />
				<div class="form__error">
					<div class="text-danger" *ngIf="firstName.touched && firstName.invalid">
						<span *ngIf="superAdminForm.controls['firstName'].errors?.required">Please enter first name.</span>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label class="form__label" for="last_name"> Last Name</label>
				<input type="text" formControlName="lastName" class="form-control form__input" id="last_name" placeholder="Smith" />
				<div class="form__error">
					<div class="text-danger" *ngIf="lastName.touched && lastName.invalid">
						<span *ngIf="superAdminForm.controls['lastName'].errors?.required">Please enter last name.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label class="form__label" for="phone"> Phone Number</label>
				<input type="text" formControlName="contact" class="form-control form__input" id="phone" placeholder="Contact" />
				<div class="form__error">
					<div class="text-danger" *ngIf="contact.touched && contact.invalid">
						<div *ngIf="superAdminForm.controls['contact'].errors?.required">Please enter phone number.</div>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label class="form__label" for="email"> Email Address</label>
				<input type="email" formControlName="email" class="form-control form__input" id="email" placeholder="john.smith@acme.com"
				 autocomplete="off" />
				<div class="form__error">
					<div *ngIf="email.touched && email.invalid">
						<span *ngIf="superAdminForm.controls['email']?.errors?.required">Please enter Email. </span>
						<span *ngIf="superAdminForm.controls['email']?.errors?.pattern">Invalid Email. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col">
				<label class="form__label" for="password"> Password</label>
				<input type="password" formControlName="password" class="form-control form__input" id="password" placeholder="Password" autocomplete="off"
				/>
				<div class="form__error">
					<div *ngIf="password.invalid && (password.dirty || password.touched)">
						<span *ngIf="superAdminForm.controls['password'].errors?.required"> Password is required. </span>
						<span *ngIf="superAdminForm.controls['password'].errors?.pattern"> Password must match criteria. </span>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label class="form__label" for="confirm_password">Confirm Password</label>
				<input type="password" class="form-control form__input" formControlName="confirmPassword" id="confirm_password" placeholder="Confirm Password"
				 autocomplete="off" />
				<div class="form__error">
					<div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid">
						<div *ngIf="superAdminForm.controls['confirmPassword'].errors?.required">Please enter confirm password.</div>
						<div *ngIf="superAdminForm.controls['confirmPassword'].errors?.passwordMismatch && confirmPassword.value">
							Passwords does not match.
						</div>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" title="Next" class="btn btn-primary btn-action btn-w-m fr" [disabled]="superAdminForm.invalid || formSubmitted"
		 [ngClass]="{ 'pointer': superAdminForm.valid, 'disable-pointer': superAdminForm.invalid }">
			<span *waiting="{hold: formSubmitted, section: 'superAdminFormSection'}">Next</span>
		</button>
	</form>
</div>