.init__wizard {
  & .card {
    padding: 2rem;

    .text__title {
      font-weight: 500;
      font-size: 16px;
      color: black;
      display: inline-grid;
      justify-content: center;
      align-items: center;
    }

    .text__subtitle {
      font-weight: 400;
      font-size: 13px;
      color: black;
    }
  }
  & .init__wizard--inner {
    & ul.nav-tabs {
      width: 100%;
      position: relative;
      margin: 40px auto;
      border-bottom: none;
      display: inline-flex;

      span.round-tabs {
        display: grid;
        position: relative;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 100px;
        background-color: lightgray;
        color: white;
        z-index: 2;
        text-align: center;
        font-size: 15px;
      }

      li {
        position: relative;
        align-items: center;
        align-self: center;
        justify-content: center;
        display: grid;
        grid-template-rows: minmax(15px, max-content) 1fr;
        grid-row-gap: 10px;
        width: 20%;

        &:not(:first-child) {
          a {
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              top: 25%;
              right: 50%;
              border: 3px solid gray;
            }
          }
        }

        & span {
          font-size: smaller;
        }

        a {
          justify-self: center;
          align-self: center;
          &:hover {
            background: transparent;
          }

          &.active {
            &::before {
              border: 3px solid darkblue;
            }
            span.round-tabs {
              background-color: darkblue;
            }
            + span {
              color: darkblue;
            }
          }

          &.valid {
            &::before {
              border: 3px solid teal;
            }
            span.round-tabs {
              background-color: teal;
            }
            + span {
              color: teal;
            }
          }
        }
      }
    }
  }
}

.footer__button {
  width: 100%;
  text-align: right;
  margin-right: 4.5rem;
  margin-top: 2rem;
}

/** page css **/

header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 1em auto;
}

main {
  display: grid;
  min-height: 100px;
  grid-template-areas:
    'navbar'
    'content';
  grid-template-rows: fit-content(60px) 1fr;
  grid-auto-flow: row;
  background-color: khaki;
}

.navbar {
  grid-area: navbar;
  background-color: beige;
}

.content {
  grid-area: content;
  background-color: azure;
}
/** **/
/** custom css for forms */
.form__input {
  font-size: 13px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid var(--border-color) !important;
  -webkit-border-radius: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.form__label {
  font-size: 12px;
  color: #2e2e2e;
  font-weight: 600;
  margin-bottom: -4px;
}
.form__error {
  color: var(--red, indianred);
  text-align: left;
  font-size: smaller;
  font-weight: 400;
  font-variant: normal;
  padding: 4px 0;
  height: 1.2rem;
}
