<div>
	<p class="text__title first-cap">Unlock CMS</p>
	<p class="text__subtitle" [innerText]="contentHeading"></p>
	<p class="text__link f-14">/opt/secrets/firstBootPassword</p>
	<p class="text-muted f-12">Please copy the password from the link above and paste it below</p>
</div>
<div class="form-horizontal">
	<form [formGroup]="unlockForm" novalidate class="form" (ngSubmit)="goToNext()" id="unlockFormSection">

		<div class="row">
			<div class="form-group col-5">
				<label for="license_key" class="form__label">Enter password</label>
				<input id="license_key" type="password" class="form-control form__input" formControlName="password" autocomplete="off">
				<div class="form__error text-left">
					<ng-container *ngIf="(password.dirty || password.touched) && password.invalid">
						<div *ngIf="password?.errors['required']">Please enter password.</div>
					</ng-container>
				</div>
			</div>
		</div>
		<button type="submit" title="Next" class="btn btn-primary btn-action btn-w-m fr" [disabled]="unlockForm.invalid || formSubmitted"
		 [ngClass]="{ 'pointer': unlockForm.valid, 'disable-pointer': unlockForm.invalid }">
			<span *waiting="{hold: formSubmitted, section:'unlockFormSection'}">Next</span>
		</button>
	</form>
</div>